## Write code to get input from user & store in dictionary & then store that dictionary in list.

In [2]:
employee1 = {}

for x in range(1, 7):

    data = input('Enter Key & Value separated by ":" ')
    temp = data.split(':', 1)                               #It just splits at first instance
    employee1[temp[0]] = str(temp[1])


    for key, value in employee1.items():
        'Key: {}, Value: {}'.format(key, value)
            
print("\n", employee1, "\n")

employee2 = {}

for x in range(1, 7):

    data = input('Enter Key & Value separated by ":" ')
    temp = data.split(':', 1)                               #It just splits at first instance
    employee2[temp[0]] = str(temp[1])


    for key, value in employee2.items():
        'Key: {}, Value: {}'.format(key, value)

print("\n", employee2,"\n")


employee3 = {}

for x in range(1, 7):

    data = input('Enter Key & Value separated by ":" ')
    temp = data.split(':', 1)                               #It just splits at first instance
    employee3[temp[0]] = str(temp[1])


    for key, value in employee3.items():
        'Key: {}, Value: {}'.format(key, value)
        
print("\n",employee3,"\n")

Enter Key & Value separated by ":" name : Hamza Ali
Enter Key & Value separated by ":" age : 25
Enter Key & Value separated by ":" work : A.I
Enter Key & Value separated by ":" skills : ["python", "tensorflow", "cloud"]
Enter Key & Value separated by ":" degree : {"title" : "BS", "major" : "computer Science", "completionDate" : "Jun 2019"}
Enter Key & Value separated by ":" salary : 259999
{'name ': ' Hamza Ali', 'age ': ' 25', 'work ': ' A.I', 'skills ': ' ["python", "tensorflow", "cloud"]', 'degree ': ' {"title" : "BS", "major" : "computer Science", "completionDate" : "Jun 2019"}', 'salary ': ' 259999'}
Enter Key & Value separated by ":" name : Farooq Aziz
Enter Key & Value separated by ":" age : 27
Enter Key & Value separated by ":" work : Cloud Native
Enter Key & Value separated by ":" skills : ["ubuntu", "docker", "kubernetes"]
Enter Key & Value separated by ":" degree : {"title" : "MS", "major" : "Software engineer", "completionDate" : "May 2018"}
Enter Key & Value separated by ":" salary : 200000
{'name ': ' Farooq Aziz', 'age ': ' 27', 'work ': ' Cloud Native', 'skills ': ' ["ubuntu", "docker", "kubernetes"]', 'degree ': ' {"title" : "MS", "major" : "Software engineer", "completionDate" : "May 2018"}', 'salary ': ' 200000'}
Enter Key & Value separated by ":" name : Abu Bakr
Enter Key & Value separated by ":" age : 30
Enter Key & Value separated by ":" work : Blockchain
Enter Key & Value separated by ":" skills : ["python", "Cryptography", "Ethereum"]
Enter Key & Value separated by ":" degree : {"title" : "BS", "major" : "computer Science", "completionDate" : "May 2019"}
Enter Key & Value separated by ":" salary : 300000
{'name ': ' Abu Bakr', 'age ': ' 30', 'work ': ' Blockchain', 'skills ': ' ["python", "Cryptography", "Ethereum"]', 'degree ': ' {"title" : "BS", "major" : "computer Science", "completionDate" : "May 2019"}', 'salary ': ' 300000'}

In [8]:
employeeDataList = []
employees = employee1 , employee2 , employee3

employeeDataList.append(employees)

print(employeeDataList)

[({'name ': ' Hamza Ali', 'age ': ' 25', 'work ': ' A.I', 'skills ': ' ["python", "tensorflow", "cloud"]', 'degree ': ' {"title" : "BS", "major" : "computer Science", "completionDate" : "Jun 2019"}', 'salary ': ' 259999'}, {'name ': ' Farooq Aziz', 'age ': ' 27', 'work ': ' Cloud Native', 'skills ': ' ["ubuntu", "docker", "kubernetes"]', 'degree ': ' {"title" : "MS", "major" : "Software engineer", "completionDate" : "May 2018"}', 'salary ': ' 200000'}, {'name ': ' Abu Bakr', 'age ': ' 30', 'work ': ' Blockchain', 'skills ': ' ["python", "Cryptography", "Ethereum"]', 'degree ': ' {"title" : "BS", "major" : "computer Science", "completionDate" : "May 2019"}', 'salary ': ' 300000'})]